.color-picker {    
    height: 2.62rem;
    display: flex;     
     justify-content: space-between; 
    & input {      
        all: unset;  
        background-color: var(--shape-button);
        width: 2.5rem; 
        height: 2.5rem;  
        position: relative;   
        border-radius: 62.43rem;       
    }
    & input:focus {  
        outline: 1px solid var(--brand-light); 
        border: 1px solid var(--input-stroke);    
    }
    & input::-webkit-color-swatch {    
        border: none; 
        width: 1.75rem; 
        height: 1.75rem; 
        border-radius: 62.43rem;    
        cursor: pointer;   
        position: absolute; 
        top: 50%;
        left: 50%;
        transform :translate(-50%, -50%);   
    }      
    & input:hover {   
        background-color: var(--shape-hover);
    } 
}