* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root { 
    --font-family-LeckerliOne: "Leckerli One", cursive; 
    --font-family-Baloo2: "Baloo 2", sans-serif; 
    --font-family-OpenSans: "Open Sans", sans-serif;  
    --logo: 400 2.5rem var(--font-family-LeckerliOne);
    --heading-md: 700 1.75rem var(--font-family-Baloo2);
    --heading-sm: 700 1.12rem var(--font-family-Baloo2); 
    --body-md: 300 1rem var(--font-family-OpenSans);
    --body-sm: 400 0.87rem var(--font-family-OpenSans); 
    --body-xs: 400 0.75rem var(--font-family-OpenSans); 
    --brand-light: #59B2FF; 
    --brand-dark: #1D6FB6; 
    --danger: #FF5959; 
    --pink: #FF598B;
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198; 
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9; 
    --text-white: #FFFFFF;
}
body {
    overflow: hidden;  
    font: var(--body-md);
    height: 100vh; 
    justify-content: space-around;
    align-items: center;
} 
.flex {
    display: flex;  
    gap: 1rem;   
} 
.flex-1 {
    flex: 1 
}
.flex-2 {
    flex: 2
}
.flex-3 {
    flex: 3 
}
h3 {        
    font: var(--body-sm);
    color: var(--text-white); 
    margin-bottom: 1rem;
}
